.order-tracking {

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.status-button {
			margin: 0 10px 0 0;
			&.started {
			}
		}
		.time-threshold {
			form {
				width: auto;
				display: inline;
				select {
					margin: 0 0 0 10px;
					width: auto;
					display: inline;
				}
			}
		}
	}

	.panel {
		clear: both;
		margin: 20px 0;
		.dropdown {
			width: 130px;
			button {
				width: 100%;
				white-space: nowrap;
				svg {
					vertical-align: baseline;
				}
			}
		}
	}

	.status-bar {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.history {
		.order {
			.cancel {
				display: none;
			}
		}
	}

	.circle { 
		vertical-align: middle;
		display: inline-block;
		width: 14px;
		height: 14px;
		background: transparent; 
		-moz-border-radius: 70px; 
		-webkit-border-radius: 70px; 
		border-radius: 70px;
		&.reconnecting {
			background: orange;
			animation: blinker 1s linear infinite;
		}
		&.connect {
			background: green;
		}
		&.reconnect_failed {
			background: red;
		}
		&.disconnect {
			background: red;
		}
	}

	@keyframes blinker {
	  50% {
	    opacity: 0;
	  }
	}
}