.order-tracking {

	header {
		.status-button {
			margin: 0 10px 0 0;
		}
		.time-threshold {
			form {
				float: right;
				width: auto;
				display: inline;
				select {
					margin: 0 0 0 10px;
					width: auto;
					display: inline;
				}
			}
		}
	}

	.panel {
		clear: both;
		margin: 20px 0 0 0;
	}

	.status-bar {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.history {
		.order {
			.cancel {
				display: none;
			}
		}
	}
}